@{
    ViewData["Title"] = "Home Page";
}
<div class="login-container">
    
    <div class="login-card">

        
        
        <img src="~/images/muchacho-solo.png" alt="Muchacho Solo" />
        <img src="~/images/muchacho-text.png" alt="Muchacho Text" />

        <h2>Bienvenido</h2>

        <div class="button-group">
            <a href="@Url.Action("Login", "Login")" class="btn btn-primary">
                Iniciar sesión
            </a>
            <a href="@Url.Action("Register", "Login")" class="btn btn-outline-primary">
                Crear cuenta
            </a>
        </div>
    </div>
</div>