@{
    ViewData["Title"] = "About";
}
<div class="login-container">

    <div class="login-card">

        <h1>¿Qué es...</h1>


        <img src="~/images/muchacho-solo.png" alt="Muchacho Solo" />
        <img src="~/images/muchacho-text.png" alt="Muchacho Text" /> <h1>?</h1>

        <p>Muchacho es una empresa comprometida con la música y su difusión. Nos encargamos de ser un punto de venta con precios justos y variedad en géneros.</p>
        <p>Esta aplicación es el sitio en el cual, tú, como encargado de una de nuestras sucursales, podrás hacer cambios en tu inventario y registrar ventas directamente en nuestro sistema, esto con el propósito de centralizar el proceso compra/venta y manejar inventarios de manera efectiva y personalizada para cada sucursal.</p>
        <p>Sabemos que todas nuestras tiendas tienen necesidades distintas, si necesitas ayuda, no dudes en contactarnos al correo:</p>
                
        <p class="mt-3">
            <a href="mailto:contacto@muchacho.com" style="color: #c9a9e9; text-decoration: none;">
                contacto@muchacho.com
            </a>
            </p>

</div>
</div>